<div class="row" id="navbar">
	<div class="col-xs-12 col-sm-4">
		<div class="row">
			<div class="col-12">
				<h1><a href="/">Myranth</a></h1>
				<span>Website WIP!</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-12">
				<a class="navLink" href="/cv/">CV</a>
				<a class="navLink" href="/academic-projects/">Academic projects</a>
				<a class="navLink" href="/personal-projects/">Personal projects</a>
				<a class="navLink" href="/about/">About</a>
			</div>
		</div>
	</div>
</div>