$colour1: #8d9aa3;
$colour2: #6e7d87;
$colour3: #3f4e58;
$colour4: #2a3842;
$colour5: #19222a;
$colour6: #0c1217;

$linkColour: #8d9ac3;
$linkColourHover: #6e7da7;
$buttonColour: #2a3862;
$buttonColourHover: #3f4e78;

a {
	color: $linkColour;

	&:hover {
		font-style: normal;
		color: $linkColourHover;
	}
}

.navLink {
	font-size: 1.4em;
	display: block;
	margin: 0px;
	padding: 10px 20px 10px 20px;
	float: right;
}

body {
	background-color: $colour6;
	color: $colour1;
	font-family: Lato;
}

.btn-primary {
	background-color: $buttonColour;
	border-color: $buttonColour;

	&:hover {
		background-color: $buttonColourHover;
		border-color: $buttonColour;
	}
}

code {
	color: $colour2;
}