.container {
    background-color: $colour5;
}

.projectPreview {
    background-color: $colour6;
    padding: 15px;
    margin-bottom: 15px
}

#navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $colour4;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $colour4;
}

#footerWebsiteName {
    font-size: 1.4em;
}

.previewImage {
    float: right;
}

.carousel {
    margin-top: 16px;
    margin-bottom: 16px;
}

.carousel-inner img {
  margin: auto;
}
